# macOS system files
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# API keys and config
config_api_file/

# VSCode settings (optional)
.vscode/

# Logs
*.log  
